<div class="container">
  <div class="row mt-5">
    <div class="col-md-12">
      <div class="tabbable" id="tabs-693082">
        <ul class="nav nav-tabs">
          <li class="nav-item">
            <a class="nav-link active" href="#tab1" data-toggle="tab">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#tab2" data-toggle="tab">MyServer</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#tab3" data-toggle="tab">Users</a>
          </li>
        </ul>
        <div class="tab-content">
          <div class="tab-pane active" id='tab1'>
            <app-home></app-home>
          </div>
          <div class="tab-pane" id="tab2">
            <app-myserver></app-myserver>
          </div>
          <div class="tab-pane" id="tab3">
            <app-users></app-users>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>